<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>straight_sword_attacked_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,72}</string>
                <key>spriteSourceSize</key>
                <string>{144,72}</string>
                <key>textureRect</key>
                <string>{{512,0},{144,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_attacked_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{824,396},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_attacked_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,48}</string>
                <key>spriteSourceSize</key>
                <string>{96,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_block_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{104,108}</string>
                <key>textureRect</key>
                <string>{{312,276},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_catched_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,84}</string>
                <key>textureRect</key>
                <string>{{232,84},{96,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_clsRngAtk1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,100}</string>
                <key>spriteSourceSize</key>
                <string>{88,100}</string>
                <key>textureRect</key>
                <string>{{1384,176},{88,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_clsRngAtk1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,100}</string>
                <key>spriteSourceSize</key>
                <string>{112,100}</string>
                <key>textureRect</key>
                <string>{{96,276},{112,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_clsRngAtk1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{928,276},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_clsRngAtk1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,144}</string>
                <key>spriteSourceSize</key>
                <string>{232,144}</string>
                <key>textureRect</key>
                <string>{{1536,396},{232,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_clsRngAtk1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,76}</string>
                <key>spriteSourceSize</key>
                <string>{184,76}</string>
                <key>textureRect</key>
                <string>{{656,0},{184,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_clsRngAtk1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{328,84},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_clsRngAtk2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,124}</string>
                <key>spriteSourceSize</key>
                <string>{104,124}</string>
                <key>textureRect</key>
                <string>{{392,396},{104,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_clsRngAtk2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,92}</string>
                <key>spriteSourceSize</key>
                <string>{200,92}</string>
                <key>textureRect</key>
                <string>{{400,176},{200,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_clsRngAtk2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1264,176},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_clsRngAtk3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,128}</string>
                <key>spriteSourceSize</key>
                <string>{104,128}</string>
                <key>textureRect</key>
                <string>{{952,396},{104,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_clsRngAtk3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{432,84},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_counterAtk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{1400,0},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_counterAtk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,100}</string>
                <key>textureRect</key>
                <string>{{1752,176},{192,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_counterAtk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{1472,176},{160,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,60}</string>
                <key>spriteSourceSize</key>
                <string>{112,60}</string>
                <key>textureRect</key>
                <string>{{96,0},{112,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_jumpHeavyAtk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,108}</string>
                <key>spriteSourceSize</key>
                <string>{152,108}</string>
                <key>textureRect</key>
                <string>{{496,276},{152,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_jumpHeavyAtk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,116}</string>
                <key>spriteSourceSize</key>
                <string>{152,116}</string>
                <key>textureRect</key>
                <string>{{1256,276},{152,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_jumpHeavyAtk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,88}</string>
                <key>spriteSourceSize</key>
                <string>{184,88}</string>
                <key>textureRect</key>
                <string>{{1136,84},{184,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_jumpLightAtk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,112}</string>
                <key>spriteSourceSize</key>
                <string>{104,112}</string>
                <key>textureRect</key>
                <string>{{824,276},{104,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_jumpLightAtk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,84}</string>
                <key>spriteSourceSize</key>
                <string>{208,84}</string>
                <key>textureRect</key>
                <string>{{1504,0},{208,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_jumpLightAtk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{840,0},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,84}</string>
                <key>spriteSourceSize</key>
                <string>{168,84}</string>
                <key>textureRect</key>
                <string>{{1712,0},{168,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_jump_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,116}</string>
                <key>spriteSourceSize</key>
                <string>{168,116}</string>
                <key>textureRect</key>
                <string>{{1408,276},{168,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,120}</string>
                <key>spriteSourceSize</key>
                <string>{96,120}</string>
                <key>textureRect</key>
                <string>{{1576,276},{96,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,132}</string>
                <key>spriteSourceSize</key>
                <string>{104,132}</string>
                <key>textureRect</key>
                <string>{{1056,396},{104,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_jump_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,88}</string>
                <key>spriteSourceSize</key>
                <string>{160,88}</string>
                <key>textureRect</key>
                <string>{{864,84},{160,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_longRngAtk1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{88,96}</string>
                <key>textureRect</key>
                <string>{{1176,176},{88,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_longRngAtk1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,80}</string>
                <key>spriteSourceSize</key>
                <string>{112,80}</string>
                <key>textureRect</key>
                <string>{{944,0},{112,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_longRngAtk1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,92}</string>
                <key>spriteSourceSize</key>
                <string>{224,92}</string>
                <key>textureRect</key>
                <string>{{1736,84},{224,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_longRngAtk1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,88}</string>
                <key>spriteSourceSize</key>
                <string>{240,88}</string>
                <key>textureRect</key>
                <string>{{624,84},{240,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_longRngAtk2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,108}</string>
                <key>textureRect</key>
                <string>{{416,276},{80,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_longRngAtk2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{208,276},{104,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_longRngAtk3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,92}</string>
                <key>spriteSourceSize</key>
                <string>{112,92}</string>
                <key>textureRect</key>
                <string>{{104,176},{112,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_midRngAtk1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,80}</string>
                <key>spriteSourceSize</key>
                <string>{96,80}</string>
                <key>textureRect</key>
                <string>{{1056,0},{96,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_midRngAtk1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,84}</string>
                <key>textureRect</key>
                <string>{{1880,0},{128,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_midRngAtk1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,120}</string>
                <key>spriteSourceSize</key>
                <string>{256,120}</string>
                <key>textureRect</key>
                <string>{{0,396},{256,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_midRngAtk1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,112}</string>
                <key>spriteSourceSize</key>
                <string>{216,112}</string>
                <key>textureRect</key>
                <string>{{1040,276},{216,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_midRngAtk2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,108}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{728,276},{96,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_midRngAtk2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,124}</string>
                <key>spriteSourceSize</key>
                <string>{136,124}</string>
                <key>textureRect</key>
                <string>{{256,396},{136,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_midRngAtk2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,88}</string>
                <key>spriteSourceSize</key>
                <string>{160,88}</string>
                <key>textureRect</key>
                <string>{{1456,84},{160,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_midRngAtk2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{88,96}</string>
                <key>textureRect</key>
                <string>{{1088,176},{88,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_midRngAtk3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,108}</string>
                <key>textureRect</key>
                <string>{{648,276},{80,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_midRngAtk3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,124}</string>
                <key>spriteSourceSize</key>
                <string>{112,124}</string>
                <key>textureRect</key>
                <string>{{496,396},{112,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_midRngAtk3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1160,396},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_midRngAtk3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,136}</string>
                <key>spriteSourceSize</key>
                <string>{240,136}</string>
                <key>textureRect</key>
                <string>{{1296,396},{240,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_roll_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{136,60}</string>
                <key>textureRect</key>
                <string>{{208,0},{136,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_roll_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,88}</string>
                <key>spriteSourceSize</key>
                <string>{136,88}</string>
                <key>textureRect</key>
                <string>{{1320,84},{136,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_roll_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,84}</string>
                <key>spriteSourceSize</key>
                <string>{136,84}</string>
                <key>textureRect</key>
                <string>{{0,84},{136,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_roll_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,68}</string>
                <key>spriteSourceSize</key>
                <string>{168,68}</string>
                <key>textureRect</key>
                <string>{{344,0},{168,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_roll_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,92}</string>
                <key>spriteSourceSize</key>
                <string>{120,92}</string>
                <key>textureRect</key>
                <string>{{1616,84},{120,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_roll_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,96}</string>
                <key>spriteSourceSize</key>
                <string>{136,96}</string>
                <key>textureRect</key>
                <string>{{808,176},{136,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_roll_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,96}</string>
                <key>spriteSourceSize</key>
                <string>{144,96}</string>
                <key>textureRect</key>
                <string>{{944,176},{144,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1632,176},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,96}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{696,176},{112,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,92}</string>
                <key>textureRect</key>
                <string>{{216,176},{80,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{0,276},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{600,176},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{0,176},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_skill_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,88}</string>
                <key>spriteSourceSize</key>
                <string>{112,88}</string>
                <key>textureRect</key>
                <string>{{1024,84},{112,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_skill_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{536,84},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_skill_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,80}</string>
                <key>spriteSourceSize</key>
                <string>{248,80}</string>
                <key>textureRect</key>
                <string>{{1152,0},{248,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_skill_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{1672,276},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_skill_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,128}</string>
                <key>spriteSourceSize</key>
                <string>{216,128}</string>
                <key>textureRect</key>
                <string>{{608,396},{216,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_stand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{296,176},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_sword_stand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,84}</string>
                <key>textureRect</key>
                <string>{{136,84},{96,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>straightsword.png</string>
            <key>size</key>
            <string>{2008,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08560392f58a33308c85c4423d5c06eb:9f8caf4a40141e1846186df1cb63a83c:82c704311897d6c8ffb44049629e82c1$</string>
            <key>textureFileName</key>
            <string>straightsword.png</string>
        </dict>
    </dict>
</plist>
